*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

body{
    height: 100vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}


header{
    text-align: center;
    margin: 40px 0px;
}

header p{
    padding: 20px 0px;
    font-weight: bold;
}

.form-section{
    display: flex;
    justify-content: center;
}

#number{
    padding: 10px 30px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

#submit{
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    font-weight: bold;
}

.password-length{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.password{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.password__text{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 40px 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.4);
}

.password__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
    
